.mui-content {
  padding-bottom: 50px;
}
.mui-content .title {
  font-size: 16px;
  padding: 10px;
}
.mui-content .money {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.mui-content .money .new {
  font-size: 24px;
  color: #ea543d;
}
.mui-content .money .old {
  color: #ccc;
  padding-left: 10px;
}
.mui-content .size {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.mui-content .size span {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
}
.mui-content .size span.active {
  background-color: orange;
}
.mui-content .num {
  padding: 10px;
}
.mui-content .num .mui-numbox {
  margin: 0 10px;
}
.mui-content .btn {
  padding: 10px;
  overflow: hidden;
}
.mui-content .btn a,
.mui-content .btn span {
  float: left;
  width: 50%;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.mui-content .btn a {
  background-color: #fa672d;
}
.mui-content .btn span {
  background-color: #991020;
}
