.getCode {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #069;
}
.mui-input-group .mui-button-row .mui-btn-primary {
  width: 95%;
  background-color: #069;
  color: #FFF;
}
.mui-input-group > span {
  display: block;
  padding: 10px;
  text-align: right;
}
.mui-input-group > span a {
  color: #069;
}
