@import "./base.css";
.mui-content{
    .mui-row{
        width: 95%;
        text-align: center;
        margin: 10px;
        background-color: #efeef4;
        .mui-col-sm-8{
            width: 40%;
            
            a{
                font-size: 14px;
                &.mui-icon-arrowdown:before {
                    float: right;
                }
            }
        }
        .mui-col-sm-6{
            width: 40%;
            float: right;
            a{
                font-size: 14px;
                &.mui-icon-arrowdown:before {
                    float: right;
                }
            }
        }
    }
}