@import "base.css";
.mui-content .mui-row {
  width: 95%;
  text-align: center;
  margin: 10px;
  background-color: #efeef4;
}
.mui-content .mui-row .mui-col-sm-8 {
  width: 40%;
}
.mui-content .mui-row .mui-col-sm-8 a {
  font-size: 14px;
}
.mui-content .mui-row .mui-col-sm-8 a.mui-icon-arrowdown:before {
  float: right;
}
.mui-content .mui-row .mui-col-sm-6 {
  width: 40%;
  float: right;
}
.mui-content .mui-row .mui-col-sm-6 a {
  font-size: 14px;
}
.mui-content .mui-row .mui-col-sm-6 a.mui-icon-arrowdown:before {
  float: right;
}
